#main {
    background-color: black;
    margin-bottom:auto;
    margin-top:auto;
  }

#main1  {
  background-image:url(Images/Licorne2.jpg);
  background-size:cover;
  margin-bottom:auto;
  margin-top:auto;
}

#text{
  color:black;

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:  18%;
  }
  
#para1 {
    color: white;
    text-align: center;
    font-style:italic
  }

#para3 {
    color: white;
    text-align: left;
    font-style:italic
  }

#para2 {
    color: white;
    text-align: left;

} 

a{
    color:yellow;
    text-decoration:none;
}